body, html {
    direction: rtl; 
}
  
  .ltr {
    direction: ltr; }
  
  .rtl {
    direction: rtl; 
}
.flag-img {
    width: 29px;
    height: 18px;
    margin-left: 9px !important;
    margin-right: 0px !important;
}

.text-right
{
    text-align: left !important;
}

.navbar-default .nav-link i {
    padding-right: 0px;
    padding-left: 5px;
}

.navbar-default .justify-content-center
{
    margin-left: 11px;
    justify-content: flex-end !important;
}